<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}base.html.twig{% endblock %}</title>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block global_css %}{% endblock %}

        {% block my_css %}{% endblock %}
    </head>

    <body>
        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% block global_js %}{% endblock %}

        {% block my_js %}{% endblock %}
    </body>
</html>
