<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}base.html.twig{% endblock %}</title>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block global_css %}
            <!-- global css -->
            {% stylesheets filter="cssrewrite, scssphp, ?uglifycss" output="assets/app/css/common.css"
                "bundles/app/css/common/*"
            %}
                <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}

        {% block my_css %}{% endblock %}
    </head>

    <body>
        {% block header %}
            {% include 'frontend/_header.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'frontend/_footer.html.twig' %}
        {% endblock %}

        {% block global_js %}
            <!-- global js -->
            {% javascripts filter="?uglifyjs2" output="assets/app/js/common.js"
                "bundles/app/js/common/*"
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block my_js %}{% endblock %}
    </body>
</html>
